
.bl-header {
  background-color: $body-background !important;
}

.bl-footer {
  background-color: $body-background !important;
}

.bl-main-container {
  border-top: 3px solid $primary-color;
}


.bl-main-container-small {
  border-top: 3px solid $primary-color;
}

.bl-container {
  padding-top: 15px;

}

.bl-payment-container {
  background-color: $success-color;
  border-radius: 3px;
}

.bl-payment-container:first-child {
  margin-bottom: 10px;
}

.bl-payment-text-small {
  @extend .bl-text-small;
  padding: 5px;
  color: white;
}

.bl-container-list {
  @extend .bl-container;
}

.bl-container-secondary {
  @extend .bl-container;
  background-color: $secondary-color;
}

.bl-container-secondary {
  table {
    tbody {
      tr {
        th {
          color: white;
        }
      }
    }
  }
}

.bl-container-warning {
  @extend .bl-container;
  background-color: $warning-color;
  border: dashed 5px white;
}

.bl-container-alert {
  @extend .bl-container-warning;
  background-color: $alert-color;
  color: white;
}

table.button {
  margin: 0;
}

.bl-text-small {
  font-size: 10px;
}

.bl-text-tiny {
  font-size: 7px;
}

.bl-main-title {
  color: $primary-color;
  padding-bottom: 0;
  margin-bottom: 0;
  text-align: center;
}

.bl-hello {
  color: $dark-gray;
}

.bl-container-title {
  padding: 5px;
}


.bl-item-container {
  background-color: white;
}

.bl-table {
  font-size: 7px;
  padding: 5px;
}

.bl-table-title-container {
  background-color: $primary-color;
  padding: 20px;
}

.bl-table-title {
  font-size: 10px;
  font-weight: bold;
  color: white;
  padding: 5px;
}

.bl-table-item-text {
  font-size: 10px;
  padding-top: 5px;
  padding-right: 3px;
  padding-left: 5px;
}

.bl-table-total {
  padding-top: 10px;
  background-color: #8a8a8a;
}

.bl-table-total-price {
  @extend .bl-table-item-text;
  padding-top: 2px;
  font-size: 15px;
  text-align: right;
  font-weight: bold;
  color: white;
}

.bl-table-total-price-title {
  @extend .bl-table-item-text;
  padding-top: 2px;
  font-style: italic;

  color: white;
}

.bl-center-text {
  text-align: center;
}