<container class="bl-footer">
  <wrapper class="bl-footer">
    <row>
      <columns large="6">
        <h5>{{i 'emailTemplateConfig.partial.contact.title'}}</h5>
        <p>
          {{i 'emailTemplateConfig.partial.contact.email.title'}}
          <a href="mailto:{{i 'emailTemplateConfig.link.email'}}">
            {{i 'emailTemplateConfig.partial.contact.email.value'}}
          </a>
        </p>
        <p>
          {{i 'emailTemplateConfig.partial.contact.website.title'}}
          <a href="{{i 'emailTemplateConfig.link.website'}}">
            {{i 'emailTemplateConfig.partial.contact.website.value'}}
          </a>
        </p>
        <p>
          {{i 'emailTemplateConfig.partial.contact.address.title'}} {{i
          'emailTemplateConfig.partial.contact.address.value'}}
        </p>
      </columns>
    </row>
  </wrapper>
</container>
