{{{{raw}}}}
    {{#if emailTemplateInput.order.showDelivery}}
        <row>
            <columns>
                <h6>
                    {{emailTemplateConfig.partial.delivery.text.title}}
                </h6>
            </columns>
        </row>
        <row>
            <columns>
                <table class="bl-payment-container">
                    <tr>
                        <td>
                            <div class="bl-payment-text-small"><b>{{emailTemplateConfig.partial.delivery.text.deliveryMethodTitle}}</b> {{emailTemplateInput.order.delivery.method}}</div>
                        </td>
                        <td>
                            <div class="bl-payment-text-small"><b>{{emailTemplateConfig.partial.delivery.text.deliveryPriceTitle}}</b> {{emailTemplateInput.order.delivery.amount}} {{emailTemplateInput.order.delivery.currency}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="bl-payment-text-small"><b>{{emailTemplateConfig.partial.delivery.text.deliveryAddressTitle}}</b> {{emailTemplateInput.order.delivery.address}}</div>
                        </td>
                        <td>
                            <div class="bl-payment-text-small"><b>{{emailTemplateConfig.partial.delivery.text.estimatedDeliveryTitle}}</b> {{emailTemplateInput.order.delivery.estimatedDeliveryDate}}</div>
                        </td>
                    </tr>
                </table>
            </columns>
        </row>
    {{/if}}
{{{{/raw}}}}
