<container class="bl-container-list">
    <row>
        <columns class="bl-table" small="12">
                <table>
                    <tr class="bl-table-title-container">
                        <th class="bl-table-title">{{i 'emailTemplateConfig.partial.delivery.text.deliveryMethodTitle'}}</th>
                        <th class="bl-table-title">{{i 'emailTemplateConfig.partial.delivery.text.estimatedDeliveryTitle'}}</th>
                        <th class="bl-table-title">{{i 'emailTemplateConfig.partial.delivery.text.deliveryPriceTitle'}}</th>
                    </tr>

            {{{{raw}}}}
                    <tr>
                        <td class="bl-table-item-text">{{emailTemplateInput.order.delivery.method}}</td>
                        <td class="bl-table-item-text">{{emailTemplateInput.order.delivery.estimatedDeliveryDate}}</td>
                        <td class="bl-table-item-text">{{emailTemplateInput.order.delivery.price}}</td>
                    </tr>
            {{{{/raw}}}}

                </table>
        </columns>
    </row>
</container>
