<container class="bl-footer">
    <wrapper class="bl-footer">
        <row>
          <columns large="6">
              <h5>{{i 'emailTemplateConfig.text.contact.title'}}</h5>
              <p>
                  {{i 'emailTemplateConfig.text.contact.email.title'}}
                  <a href="mailto:{{i 'emailTemplateConfig.link.email'}}">
                    {{i 'emailTemplateConfig.text.contact.email.value'}}
                  </a>
              </p>
              <p>
                  {{i 'emailTemplateConfig.text.contact.website.title'}}
                  <a href="{{i 'emailTemplateConfig.link.website'}}">
                      {{i 'emailTemplateConfig.text.contact.website.value'}}
                  </a>
              </p>
              <p>
                  {{i 'emailTemplateConfig.text.contact.address.title'}}
                  {{i 'emailTemplateConfig.text.contact.address.value'}}
              </p>
          </columns>
        </row>
    </wrapper>
</container>