<container class="bl-footer">
    <wrapper class="bl-footer">
        <row>
          <columns large="6">
              <h5>\{{emailTemplateConfig.text.contact.title}}</h5>
              <p>
                  \{{emailTemplateConfig.text.contact.email.title}}
                  <a href="mailto:\{{emailTemplateConfig.link.email}}">
                    \{{emailTemplateConfig.text.contact.email.value}}
                  </a>
              </p>
              <p>
                  \{{emailTemplateConfig.text.contact.website.title}}
                  <a href="\{{emailTemplateConfig.link.website}}">
                      \{{emailTemplateConfig.text.contact.website.value}}
                  </a>
              </p>
              <p>
                  \{{emailTemplateConfig.text.contact.address.title}}
                  \{{emailTemplateConfig.text.contact.address.value}}
              </p>
          </columns>
        </row>
    </wrapper>
</container>