<container class="bl-container-list">
    <row>
        <columns class="bl-table" small="12">
            {{{{raw}}}}
                <table>
                    <tr class="bl-table-title-container">
                        <th class="bl-table-title">{{emailTemplateConfig.partial.item-list.text.titleHeader}}</th>
                        <th class="bl-table-title">{{emailTemplateConfig.partial.item-list.text.statusHeader}}</th>

                        {{#if emailTemplateInput.order.showDeadline}}
                            <th class="bl-table-title">{{emailTemplateConfig.partial.item-list.text.deadlineHeader}}</th>
                        {{/if}}

                        {{#if emailTemplateInput.order.showPrice}}
                            <th class="bl-table-title">{{emailTemplateConfig.partial.item-list.text.priceHeader}}</th>
                        {{/if}}
                    </tr>

                    {{#each emailTemplateInput.order.items}}
                    <tr>
                        <td class="bl-table-item-text">{{title}}</td>
                        <td class="bl-table-item-text">{{status}}</td>

                        {{#if deadline}}
                            <td class="bl-table-item-text">{{deadline}}</td>
                        {{/if}}

                        {{#if price}}
                            <td class="bl-table-item-text">{{price}}</td>
                        {{/if}}
                    </tr>
                    {{/each}}

                    {{#if emailTemplateInput.order.showPrice}}
                        <tr class="bl-table-total">
                            <td class="bl-table-total-price-title" colspan="{{emailTemplateInput.numberOfCols}}"><i>{{emailTemplateConfig.item-list.text.totalPriceTitle}}</i></td>
                            <td class="bl-table-total-price"><b>{{emailTemplateInput.order.amount}}</b></td>
                        </tr>
                    {{/if}}

                </table>
                <div class="bl-text-small">
                    <small>
                        {{emailTemplateConfig.partial.item-list.text.orderIdTitle}} {{emailTemplateInput.order.id}}
                    </small>
                </div>
            {{{{/raw}}}}
        </columns>
    </row>
</container>
