<container class="bl-container-list">
    <row>
        <columns class="bl-table collapse" small="12">
            <table>
                <tr>
                    <th class="bl-table-item-title">{{emailTemplateConfig.text.itemList.titleHeader}}</th>
                    <th class="bl-table-item-title">{{emailTemplateConfig.text.itemList.statusHeader}}</th>
                    <th class="bl-table-item-title">{{emailTemplateConfig.text.itemList.deadlineHeader}}</th>
                </tr>

                {{#each emailTemplateInput.items}}
                <tr>
                    <td class="bl-table-item-text">{{title}}</td>
                    <td class="bl-table-item-text">{{status}}</td>
                    <td class="bl-table-item-text">{{deadline}}</td>
                </tr>
                {{/each}}
            </table>
        </columns>
    </row>
</container>
