    <row>
        <columns class="bl-table" small="12">
            {{{{raw}}}}
                <table>
                    <tr class="bl-table-title-container">
                        <th class="bl-table-title">{{emailTemplateConfig.partial.item-list.text.titleHeader}}</th>
                        {{#if emailTemplateInput.order.showStatus}}
                            <th class="bl-table-title">{{emailTemplateConfig.partial.item-list.text.statusHeader}}</th>
                        {{/if}}

                        {{#if emailTemplateInput.order.showDeadline}}
                            <th class="bl-table-title">{{emailTemplateConfig.partial.item-list.text.deadlineHeader}}</th>
                        {{/if}}

                        {{#if emailTemplateInput.order.showPrice}}
                            <th class="bl-table-title">{{emailTemplateConfig.partial.item-list.text.priceHeader}}</th>
                        {{/if}}
                    </tr>

                    {{#each emailTemplateInput.order.items}}
                    <tr>
                        <td class="bl-table-item-text">{{title}}</td>

                        {{#if ../emailTemplateInput.order.showStatus}}
                            <td class="bl-table-item-text">{{status}}</td>
                        {{/if}}

                        {{#if ../emailTemplateInput.order.showDeadline}}
                            <td class="bl-table-item-text">{{deadline}}</td>
                        {{/if}}

                        {{#if ../emailTemplateInput.order.showPrice}}
                            <td class="bl-table-item-text">{{price}} {{../emailTemplateInput.currency}}</td>
                        {{/if}}
                    </tr>
                    {{/each}}

                    {{#if emailTemplateInput.order.showPrice}}
                        <tr>

                            {{#if emailTemplateInput.order.showStatus}}
                                {{#if emailTemplateInput.order.showDeadline}}
                                    <td class="bl-table-item-text" colspan="3"><i>{{emailTemplateConfig.partial.item-list.text.totalPriceTitle}}</i></td>
                                {{else}}
                                    <td class="bl-table-item-text" colspan="2"><i>{{emailTemplateConfig.partial.item-list.text.totalPriceTitle}}</i></td>
                                {{/if}}
                            {{else}}
                                {{#if emailTemplateInput.order.showDeadline}}
                                    <td class="bl-table-item-text" colspan="2"><i>{{emailTemplateConfig.partial.item-list.text.totalPriceTitle}}</i></td>
                                {{else}}
                                    <td class="bl-table-item-text" colspan="1"><i>{{emailTemplateConfig.partial.item-list.text.totalPriceTitle}} {{emailTemplateInput.currency}}</i></td>
                                {{/if}}
                            {{/if}}

                            <td class="bl-table-item-text"><b>{{emailTemplateInput.order.itemAmount}}</b></td>
                        </tr>
                    {{/if}}

                </table>

            {{{{/raw}}}}

        </columns>
    </row>
