<container>
  <row>
    <columns>
      <h4 class="bl-container-title">
        {{i 'emailTemplateConfig.partial.order-detail.text.title'}}
      </h4>
    </columns>
  </row>

  {{> item-list}}

  <spacer size="8"></spacer>

  {{> delivery}} {{{{raw}}}}
  <row>
    <columns>
      <div class="bl-text-small">
        {{emailTemplateConfig.partial.item-list.text.orderIdTitle}}
        {{emailTemplateInput.order.id}}
      </div>
    </columns>
  </row>
  {{{{/raw}}}}
</container>

<spacer size="8"></spacer>

{{> payment}}
